<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ pageTitle }}</title>
    <link rel="stylesheet"
    type="text/css"
    href="{{ url_for('static', filename='css/stylesheet.css') }}">
</head>
    <body>
        <header><h1> Vertical Tank Maintenance</h1></header>
        <nav>
            <ul class="menu">
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/estimate">Estimate</a>
        </nav>   
        <main>
            {% block body %}
<div>
    <h2> Welcome to VTM!</h2>
    <hr />
    <img
        src="{{ url_for ('static', filename='images/tanks.jpg') }}"
        class="responsive" />
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Volutpat est velit egestas dui id. In hac habitasse platea dictumst quisque sagittis purus sit amet. Vel turpis nunc eget lorem. Pellentesque adipiscing commodo elit at imperdiet. Mi quis hendrerit dolor magna eget est. Aliquet enim tortor at auctor urna nunc id cursus metus. Diam in arcu cursus euismod. Ultrices gravida dictum fusce ut. In massa tempor nec feugiat nisl pretium. Platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras. Eu facilisis sed odio morbi quis commodo odio. Vulputate sapien nec sagittis aliquam malesuada bibendum arcu vitae elementum. Enim ut tellus elementum sagittis vitae et leo duis. Eu tincidunt tortor aliquam nulla facilisi. A cras semper auctor neque vitae tempus quam pellentesque nec. Massa tempor nec feugiat nisl pretium fusce id. Feugiat sed lectus vestibulum mattis ullamcorper.
        <br>Congue nisi vitae suscipit tellus mauris. In est ante in nibh mauris cursus mattis molestie a. Sit amet volutpat consequat mauris nunc. Facilisi morbi tempus iaculis urna id volutpat lacus. Arcu cursus euismod quis viverra nibh cras pulvinar mattis nunc. Feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper. Massa tincidunt nunc pulvinar sapien et ligula ullamcorper. Scelerisque viverra mauris in aliquam. Donec adipiscing tristique risus nec feugiat in fermentum. Vel risus commodo viverra maecenas accumsan lacus vel facilisis. Ac turpis egestas maecenas pharetra.
    </p>
</div>
    </main>      
{% endblock %}
    <footer>&copy; VTM 2022</footer>
    </body>

</html>

